<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Noter une entreprise</title>
    <link href="/jobs/dev/assets/style.css" rel="stylesheet">
    <link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
          integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
          referrerpolicy="no-referrer" rel="stylesheet"/>
</head>
<body>
{% include '../../src/views/menu.twig' %}

<hr class="hr-large">
<div class="Title-box">Évaluation Siemens</div>

<div class="space5"></div>

<div class="Title1">Variété de domaine proposée :</div>
<div class="space2-5"></div>
<div class="rating rating-1">
    <i class="fas fa-star" data-rating="1"></i>
    <i class="fas fa-star" data-rating="2"></i>
    <i class="fas fa-star" data-rating="3"></i>
    <i class="fas fa-star" data-rating="4"></i>
    <i class="fas fa-star" data-rating="5"></i>
</div>

<div class="space5"></div>

<div class="Title1">Description des offres claires :</div>
<div class="space2-5"></div>
<div class="rating rating-2">
    <i class="fas fa-star" data-rating="1"></i>
    <i class="fas fa-star" data-rating="2"></i>
    <i class="fas fa-star" data-rating="3"></i>
    <i class="fas fa-star" data-rating="4"></i>
    <i class="fas fa-star" data-rating="5"></i>
</div>

<div class="space5"></div>



<div class="Title1">Évaluation générale du stage effectué :</div>
<div class="space2-5"></div>
<div class="rating rating-3">
    <i class="fas fa-star" data-rating="1"></i>
    <i class="fas fa-star" data-rating="2"></i>
    <i class="fas fa-star" data-rating="3"></i>
    <i class="fas fa-star" data-rating="4"></i>
    <i class="fas fa-star" data-rating="5"></i>
</div>

<div class="space5"></div>

<div class="Title1">Recommandation de l'entreprise :</div>
<div class="space2-5"></div>
<div class="rating rating-4">
    <i class="fas fa-star" data-rating="1"></i>
    <i class="fas fa-star" data-rating="2"></i>
    <i class="fas fa-star" data-rating="3"></i>
    <i class="fas fa-star" data-rating="4"></i>
    <i class="fas fa-star" data-rating="5"></i>
</div>

<div class="space5"></div>

<div class="footer">
    <a href="/jobs/dev/General/Mentions_Legales.php">Mentions Légales</a> - 2025 Job* - À propos
</div>

<script src="/jobs/dev/assets/script.js"></script>
</body>
</html>